<div class="text-layout">
  <h1>Pipes basicos</h1>
  <p>Pipes incluidos en Angular - usualmente en el Common Module.</p>
</div>
<div class="grid">
  <div class="col-4">
    <p-card header="LowerCase" [subheader]="nombreLower">
      {{ nombreLower | lowercase }}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="UpperCase" [subheader]="nombreUper"
      >{{ nombreUper | uppercase }}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="TitleCase" [subheader]="nombreCompleto"
      >{{ nombreCompleto | titlecase }}
    </p-card>
  </div>
</div>
<div class="text-layout">
  <h1>Date | Fecha | Pipe</h1>
  <p>Pipes para mostrar las fechas</p>
</div>
<div class="grid">
  <div class="col-6">
    <p-card header="Code">
      <ul>
        <li>fecha</li>
        <li>fecha | date</li>
        <li>fecha | date:'short'</li>
        <li>fecha | date:'long'</li>
        <li>fecha | date:'d MMMM y'</li>
        <hr />
        <ul>
          <li>fecha | date:'short'</li>
        </ul>
      </ul>
    </p-card>
  </div>
  <div class="col-6">
    <p-card header="Preview">
      <ul>
        <li>{{ fecha }}</li>
        <li>{{ fecha | date }}</li>
        <li>{{ fecha | date : "short" }}</li>
        <li>{{ fecha | date : "long" }}</li>
        <li>{{ fecha | date : "d MMMM y" }}</li>
        <hr />
        <ul>
          <li>{{ fecha | date : "long":'GMT-4':'' }}</li>
        </ul>
      </ul>
    </p-card>
  </div>
</div>
