<div class="text-layout">
  <h1>Pipes personalizados</h1>
  <p>Pipes creados por {{ "nosotros" | mayusculas : isMayusculas }} .</p>
</div>
<p-toolbar>
  <div class="p-toolbar-group-start">
    <button pButton (click)="changeCase()" label="toggle mayusculas"></button>
  </div>
  <div class="p-toolbar-group-center"></div>
  <div class="p-toolbar-group-end">
    <p-button
      label="Por nombre"
      icon="pi pi-sort"
      iconPos="right"
      class="mr-1"
      (click)="changeOrder('nombre')"
    ></p-button>
    <p-button
      label="Vuela"
      icon="pi pi-sort"
      iconPos="right"
      size="small"
      class="mr-1 p-button-success"
      (click)="changeOrder('vuela')"

    ></p-button>
    <p-button
      label="por color"
      icon="pi pi-sort"
      iconPos="right"
      size="small"
      class="mr-1 p-button-help"
      (click)="changeOrder('color')"
    ></p-button>
  </div>
</p-toolbar>
<div class="grid mt-2">
  <div class="col">
    <p-table
      [value]="heroes | ordenar : orderBy"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre</th>
          <th>Vuela</th>
          <th>Color</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-heroe>
        <!--  <tr *ngFor="let item of heroes; index as i">
          <td>{{ i }}</td>
          <td>{{ item.nombre }}</td>
          <td>{{ item.vuela }}</td>
          <td>{{ item.color }}</td>
        </tr> -->
        <tr>
          <td>{{ heroe.nombre | titlecase }}</td>
          <td>{{ heroe.vuela | vuela | titlecase }}</td>
          <td>{{ heroe.color }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
